<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            Convert from USD To KES
        </div>
        <div class="panel-body">
            <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
                <form action="/" method="post" id="checkout-form">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="USD">Current Conversion Rate</label>
                                <input type="number"  name="currentConversion" id="currentConversion"class="form-control" value="{{currentUsd}}" contenteditable="false" required>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="USD">Enter USD Amount</label>
                                <input type="number" name="USD" id="USD"class="form-control"required>
                            </div>
                        </div>
                        <center><button type="submit" class="btn btn-success">Generate</button> </center>
                    </div>
                </form>
                <div class = "row" {{#if isExecuted}} {{else }} hidden {{/if}} >
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="kesAmount">KES Amount</label>
                        <input type="number" name="kesAmount" id="kesAmount"class="form-control" contenteditable="false" value="{{generatedAmount}}">
                    </div>
                </div>
                </div>

            </div>
        </div>
        <div class="panel-footer">
            Brian Kamau
        </div>
    </div>
</div>